<header class="header">
  <div class="container">
    <div class="header__mobile-icons">
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="tel:8800" class="header__phone-link phone-link">
        <svg class="" width="23" height="22">
          <use xlink:href="./img/icons/icons.svg#phone"></use>
        </svg>
      </a>
    </div>
    <div class="language-switch">
      <a href="#" class="language-switch__link active">рус</a>
      <a href="#" class="language-switch__link ">eng</a>
    </div>
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="img/Logo.svg" alt="Культурный центр Александра Вампилова">
      </a>
      <div class="header__content">
        <div class="header__content-top">
          <div class="header__social">
            <a href="#" class="header__social-link">
              <svg width="32" height="22" class="">
                <use xlink:href="./img/icons/icons.svg#vk"></use>
              </svg>
            </a>
            <a href="#" class="header__social-link">
              <svg width="29" height="24" class="">
                <use xlink:href="./img/icons/icons.svg#youtube"></use>
              </svg>
            </a>
            <a href="#" class="header__social-link">
              <svg width="28" height="28" class="">
                <use xlink:href="./img/icons/icons.svg#rutube"></use>
              </svg>
            </a>
            <a href="#" class="header__social-link">
              <svg width="18" height="31" class="">
                <use xlink:href="./img/icons/icons.svg#ok"></use>
              </svg>
            </a>
          </div>
          <div class="header-line"></div>
          <a href="#" class="eye-version">
            <svg width="32" height="19" class="">
              <use xlink:href="./img/icons/icons.svg#eye"></use>
            </svg>
            <span>версия для слабовидящих</span>
          </a>
        </div>
        <nav class="header__navigation">
          <ul class="header__list">
            <li class="header__list-elem">
              <a href="#" class="header__link">
                <span>новости</span>
              </a>
            </li>
            <li class="header__list-elem">
              <a href="#" class="header__link">
                <span>о вампилове</span>
              </a>
            </li>
            <li class="header__list-elem">
              <a href="#" class="header__link active">
                <span>о кульурном центре</span>
              </a>
            </li>
            <li class="header__list-elem">
              <a href="#" class="header__link">
                <span>афиша</span>
              </a>
            </li>
            <li class="header__list-elem">
              <a href="#" class="header__link">
                <span>контакты</span>
              </a>
            </li>
          </ul>
          <div class="header__searh">
            <button class="btn-reset" type="button">
              <svg width="22" height="22" class="">
                <use xlink:href="./img/icons/icons.svg#search"></use>
              </svg>
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>