<section class="hero">
  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero-slide">
        <div class="hero-slide__bg" style="background-image: url('img/hero/slide_1.png')">
        </div>
        <div class="container">
          <h2 class="hero-slide__title">«На антресолях…»</h2>
        </div>
      </div>
      <div class="swiper-slide hero-slide">
        <div class="hero-slide__bg" style="background-image: url('img/hero/slide_2.png')">
        </div>
        <div class="container">
          <h2 class="hero-slide__title">Картинная галерея</h2>
        </div>
      </div>
      <div class="swiper-slide hero-slide">
        <div class="hero-slide__bg" style="background-image: url('img/hero/slide_3.png')">
        </div>
        <div class="container">
          <h2 class="hero-slide__title">Библиотека</h2>
        </div>
      </div>
      <div class="swiper-slide hero-slide">
        <div class="hero-slide__bg" style="background-image: url('img/hero/slide_4.png')">
        </div>
        <div class="container">
          <h2 class="hero-slide__title">Литературно-театральный салон</h2>
        </div>
      </div>
    </div>
    <div class="hero-slider__container container">
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev hero-slide__arrow"></div>
      <div class="swiper-button-next hero-slide__arrow"></div>
    </div>
  </div>
  <div class="container">
    <div class="hero__description">
      <div class="hero-cloud">
        <div class="hero-content swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide hero-content__slide">
              <div class="hero-content__text">
                <p>Тема постоянной экспозиции – жизнь и творчество Александра Вампилова, выдающегося драматурга.
                  Более 120 экспонатов: личные вещи Вампилова, предметы, связанные с эпохой 1960-х, а также с историей
                  театра и Иркутска.
                </p>
              </div>
            </div>
            <div class="swiper-slide hero-content__slide">
              <div class="hero-content__text">
                <p>Включает актуальные течения ХХ и XXI века.
                  Художественная коллекция содержит более 200 работ: живопись, графика и декоративно-прикладное
                  искусство. Формируется с 1996 года.
                  <a href="#" class="main-link">подробнее →</a>
                </p>
              </div>
            </div>
            <div class="swiper-slide hero-content__slide">
              <div class="hero-content__text">
                <p>На полках – книги на вампиловскую тематику. Самые ценные сборники материалов и статей о жизни и
                  творчестве мирового драматурга. А также художественная проза, книги по истории театра, филологии,
                  краеведению.
                </p>
              </div>
            </div>
            <div class="swiper-slide hero-content__slide">
              <div class="hero-content__text">
                <p>Регулярно устраиваем творческие вечера, представления и презентации. Вы можете провести свое
                  мероприятие в салоне. Мы посодействуем вам в организации культурного, научного или
                  познавательно-развлекательного события.
                </p>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="hero-content__more btn btn_light">подробнее <span class="btn-arrow">&#10132;</span></a>
      </div>
      <div class="hero-info">
        <div class="hero-info__text">
          <p>С любовью рассказываем об Александре Вампилове и искусстве. Проводим творческие встречи, организуем
            спектакли, выставки</p>
        </div>
        <a href="#" class="hero-info__btn btn">купить билеты <span class="btn-arrow">&#10132;</span></a>
      </div>
    </div>
  </div>
</section>